<div>
  <h3>{{ note.name }}</h3>
  <h3>{{ note.qrCode }}</h3>
  <h3>{{ note.address }}</h3>

  <!--
  <span class="button is-small is-info" (click)='addHeartToNote(note.hearts)'>
    Heart <i class="fa fa-heart" style="margin-left: 5px;"></i>
  </span>
  -->

  <span class="button is-small is-info" (click)='doSomething()'>
    Generate Contract <i class="fa fa-heart" style="margin-left: 5px;"></i>
  </span>


  <span class="button is-small is-danger" (click)='deleteNote(note?.id)'>Delete</span>
  <!--<p>This note has been hearted {{ note.hearts || 0 }} times.</p>-->

</div>
