<h1>Firestore Notes</h1>
<p>
  Learn how to build
  <a href="https://angularfirebase.com/tag/firestore">cool stuff with Firestore</a>
</p>
<hr>

<input [(ngModel)]="newTeam.name" placeholder="Team Name" class="input">
<!--<input [(ngModel)]="newTeam.address" placeholder="Add your own note" class="input">-->

<button class="button is-success" (click)="clickHandler()"
        [disabled]="newTeam.name?.length < 1 || newTeam.name?.length > 200">
  Generate Contracts
</button>
<hr>
<div *ngFor="let note of notes | async">
  <note-detail [note]="note">s</note-detail>
</div>
